<!DOCTYPE html>
<html>

  <head>
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
<!--     // <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    // <script type="text/javascript" src="./socket.io/socket.io.js"></script>
    // <script type="text/javascript" src="js/realist.js"></script> -->
  </head>

  <body>
    <div class="wrapper">

      <div class="addLine">
        <input type="text" name="itemText" placeholder="Type something..." id="itemText">
        <button type="submit" class="btn" id="sendButton">Add</button>
      </div>

      <table class="listTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody id="list"></tbody>
      </table>

    </div>
  </body>

</html>