<% include header.html %>

    <div class="wrapper">

      <div class="addLine">
        <input type="text" name="itemText" placeholder="Type something..." id="itemText">
        <button type="submit" class="btn" id="sendButton">Add</button>
      </div>

      <table class="listTable">
        <thead>
          <tr>
            <th>Item</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody id="list">
          <% groceries.forEach(function(grocery){ %>
            <% var checkClass = (grocery.checked) ? "status checked" : "status"; %>
            <% var checkIcon = (grocery.checked) ? "&#10003;" : "&#10066;"; %>
            <tr data-id="<%=grocery._id%>">
              <td><%=grocery.title%></td>
              <td class="<%=checkClass%>"><%-checkIcon%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>

<% include footer.html %>