body {
  background: #2b2b2b;
  color: #666;
  padding: 10px;
}
.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.addLine {
  position: relative;
  padding-right: 16px;
  margin: 20px 0 10px 0;
}

.addLine form {
  margin: 0;
}

#itemText {
  height: auto;
  margin: 0;
  width: 100%
}
#sendButton {
  position: absolute;
  top: 0;
  right: 0;
}

ul.listTable {
  list-style-type: none;
  margin: 0;
  width: 100%;
}

ul.listTable li {
  background: #fff;
  border-top: solid 1px #ddd;
  line-height: 2.3;
  padding: 0 10px;
  position: relative;
}

ul.listTable li:first-child {
  border-top: none;
  border-radius: 4px 4px 0 0;
}

ul.listTable li:last-child {
  border-radius: 0 0 4px 4px;
}

ul.listTable li input {
  margin: 10px 0;
  position: absolute;
  top: 0px;
  right: 12px;
}

.removeControls {
  margin: 10px 0;
  text-align: right;
}
