body {
  background: #2b2b2b;
  color: #666;
  padding: 10px;
}
.wrapper {
  max-width: 480px;
}

.addLine {
  position: relative;
  padding-right: 16px;
}
#itemText {
  height: auto;
  margin: 0;
  width: 100%
}
#sendButton {
  position: absolute;
  top: 0;
  right: 0;
}

ul.listTable {
  background: #fff;
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
  width: 100%;
}

ul.listTable li {
  border-top: solid 1px #ddd;
  line-height: 2.3;
  padding: 0 10px;
}

ul.listTable li:first-child {
  border-top: none;
}

ul.listTable li input {
  float: right;
  margin: 10px 0;
}
