<div class="addLine">
  <form ng-submit="addItem()">
    <input type="text" ng-model="itemText" placeholder="Type something..." id="itemText">
    <input type="submit" class="btn" id="sendButton" value="Add">
  </form>
</div>

<ul class="listTable">
  <li ng-repeat="item in items">
    {{item.name}} <input type="checkbox" ng-checked="item.is_checked" ng-click="toggleItem($index)">
  </li>
</ul>

<div class="removeControls">
  <button class="btn" ng-click="clearChecked()">Clear Checked</button>
  <button class="btn" ng-click="clearAll()">Clear All</button>
</div>

<!-- <span style="color:white">Thinking...</span> -->