<form ng-submit="submit()">
    <div class="modal-header">
        <h3>Who are you?</h3>
    </div>
    <div class="modal-body">
        <label for="username">Email:</label>
        <input type="text" required="required" ng-model="user.email" class="input-block-level">
        <label for="password">Password:</label>
        <input type="password" required="required" ng-model="user.password" class="input-block-level">
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" ng-click="login()" value="Login">
    </div>
</form>